<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.aviasales.example" >

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


	<application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.aviasales.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="82cfd599cfb519d96baa4cf87f8597b45b368544"/>

		<meta-data android:name="ru.aviasales.marker" android:value="@string/aviasales_marker"/>
		<meta-data android:name="ru.aviasales.api_token" android:value="@string/aviasales_api_token"/>

    </application>

</manifest>
